@import url("https://fonts.googleapis.com/css?family=Nunito");
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "bulma.scss";

.navbar-item {
    &.has-dropdown {
        .navbar-dropdown {
            display: none;
        }
        &.is-active {
            .navbar-dropdown {
                display: block;
            }
        }
    }
}

[v-cloak] {
    display: none;
}
